{% extends "base.html" %}
{% block content %}
<h2>Register</h2>

<form method="POST">
    <input name="username" class="form-control" placeholder="Username"><br>
    <input name="email" class="form-control" placeholder="Email"><br>
    <input name="password" type="password" class="form-control" placeholder="Password"><br>
    <input name="confirm_password" type="password" class="form-control" placeholder="Confirm Password"><br>
    
    <button class="btn btn-success">Register</button>
</form>

{% endblock %}
